.container {
  height: 220vh;
  position: relative;
  background-color: #6b5b4b;
}

.container>div {
  position: sticky;
  height: 100vh;
  top: 0;
  overflow: hidden;
}

.container>div>div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.container>div>div>div {
  position: relative;
  width: 25vw;
  height: 25vh;
}

.container>div>div>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container>div>div:nth-of-type(2)>div {
  top: -30vh;
  left: 5vw;
  width: 15vw;
  height: 30vh;
}

.container>div>div:nth-of-type(3)>div {
  top: -10vh;
  left: -25vw;
  width: 20vw;
  height: 45vh;
}

.container>div>div:nth-of-type(4)>div {
  top: 10vh;
  left: 30.5vw;
  width: 25vw;
  height: 52vh;
}

.container>div>div:nth-of-type(5)>div {
  top: 30vh;
  left: 5vw;
  width: 18vw;
  height: 30vh;
}

.container>div>div:nth-of-type(6)>div {
  top: 27.5vh;
  left: -22.5vw;
  width: 16vw;
  height: 25vh;
}

.container>div>div:nth-of-type(7)>div {
  top: 22.5vh;
  left: 25vw;
  width: 15vw;
  height: 15vh;
}